In [2]:
d = {'key1': 'value1', 'key2':123}

In [3]:
d['key1']

'value1'

In [4]:
d = {"k1":[1,2,3]}

In [5]:
d['k1']

[1, 2, 3]

In [6]:
d = {'k1':{'innerkey':[1,2,3]}}

In [7]:
d['k1']['innerkey'][0]

1

In [8]:
my_list = [1,2,3]

In [9]:
t = (1,2,3)

In [10]:
t[0]

1

In [11]:
t[0] = 3

TypeError: 'tuple' object does not support item assignment

In [12]:
my_list[0]

1

In [13]:
{1,2,3}

{1, 2, 3}

In [14]:
{1,2,2,2,3,3,3,4}

{1, 2, 3, 4}

In [15]:
s.add(6)

NameError: name 's' is not defined

In [16]:
s = {1,2,2,2,2,3,3,3,4}

In [17]:
s.add(6)

In [18]:
s

{1, 2, 3, 4, 6}

In [19]:
1 <= 2

True

In [20]:
1 === 2

SyntaxError: invalid syntax (3320722079.py, line 1)

In [21]:
1 < 2 and 2 > 3

False

In [22]:
(1 < 2) or (2 > 3)

True

In [23]:
true & true

NameError: name 'true' is not defined

In [24]:
True & True

True

In [25]:
False | True

True

In [26]:
if 1<2:
    print('yep')

yep

In [27]:
if 1 == 2:
    print('First')
elif 4==4:
    print('Four')
else:
    print('Last')

Four

In [28]:
seq = [1,2,4,5]

In [29]:
for item in seq:
    print(item)

1
2
4
5

In [30]:
i = 1
while i<5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [31]:
for x in seq:
    print(x)

1
2
4
5

In [32]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [33]:
range(10)

range(0, 10)

In [34]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [36]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [37]:
x = list(range(5))

In [38]:
out = []

for num in x:
    out.append(num**2)

In [39]:
out

[0, 1, 4, 9, 16]

In [40]:
#List comprehension

In [41]:
out = [num**2 for num in x]

In [42]:
out

[0, 1, 4, 9, 16]

In [43]:
def func(param1 = 'Default name'):
    print('Hello ' + param1)

In [44]:
func()

Hello Default name

In [45]:
func('nanhe')

Hello nanhe

In [46]:
def square(num):
    """
    THIS FUNCTION RETURNS SQUARE OF THE NUM
    AND THIS CAN GO MULTIPLE NEW LINES
    """
    return num**2

In [47]:
output = square(4)

In [48]:
output

16

In [49]:
output = square

In [50]:
range

range

In [51]:
# map()

In [52]:
seq = [1,2,3,4,5]

In [53]:
map(square, seq)

In [54]:
list(map(square, seq))

[1, 4, 9, 16, 25]

In [55]:
#lambda expression

In [56]:
def times2(var): return var*2

In [57]:
times2(4)

8

In [58]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [59]:
#above function times2 can be written as lambda like this:
t = lambda var: var*2

In [60]:
t(6)

12

In [61]:
#also i can use inline lambda
list(map(lambda num: num*2, seq))

[2, 4, 6, 8, 10]

In [63]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [64]:
s = 'hello my name is Nanhe'

In [65]:
s.lower()

'hello my name is nanhe'

In [66]:
s.upper()

'HELLO MY NAME IS NANHE'

In [67]:
s.split()

['hello', 'my', 'name', 'is', 'Nanhe']

In [68]:
tweet = 'Go sports! #sports'

In [69]:
tweet.split('#')[0]

'Go sports! '

In [70]:
d = {'k1': 1, 'k2': 2}

In [71]:
d

{'k1': 1, 'k2': 2}

In [72]:
d.keys

In [74]:
d.keys()

dict_keys(['k1', 'k2'])

In [75]:
lst = [1,2,3,4,5]

In [76]:
lst.pop()

5

In [77]:
lst

[1, 2, 3, 4]

In [78]:
'x' in [1,2,3]

False

In [80]:
'x' in ['x', 'y', 3]

True